# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# TouchDesigner backup files
Backup/
*.toe.bak

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Specific files and directories
/dep/python/
/dep/midas_models/dpt_hybrid.onnx

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
